/*-----CSS RESET ------*/
*{padding:0;
margin:0;
font-size: 100%;
line-height: 1em;}

body{
width: 70%;
max-width: 650px;
margin:auto;
background:#fafafa;
color:#333;
font-family: 'Nunito', sans-serif;}


html {
  scroll-behavior: smooth;
}
.center {
  display: block;
margin-left: auto;
margin-right: auto;
  width: 50%;
  height: 50%;
}
/*--------TYPOGRAPHY-------*/
p {
  margin-bottom: 65px;
  font-family: 'Nunito', sans-serif;
  font-weight: normal;
    color: #333;
    line-height: 22px;
    font-size: 12px

}

p.references {
  margin-bottom: 20px;
  font-family: 'Nunito', sans-serif;
  font-weight: light;
    color: #333;
    line-height: 22px;
    opacity:0.2;
  width: 1000px;
}

h1 {
  padding-bottom: 14px;
  border-bottom: 4px  solid #333;
padding-top: 40px;
  font-size: 40px;
  font-family: 'Nunito', sans-serif;


}

h2 {
  color: #333;
  font-size: 30px;
  padding-bottom: 40px;
    border-bottom: 4px solid #333;
  font-family: 'Nunito', sans-serif;
}

h3 {
  color: #333;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 40px;
    border-bottom: 4px solid #333;
  font-family: 'Nunito', sans-serif;
}
}

blockquote {
  display: block;
  margin-left: -1em;
  padding-left: 0.8em;
  border-left: 0.2em solid #e06e73;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 45px;
}

cite.me {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: lighter;
  opacity: 0.4;
font-size: 20px;

}
cite {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: lighter;
  opacity: 0.4;
font-size: 20px;

}
/*------HEADERS-----*/

h1 {

  border-bottom: 4px  solid #333;

  font-size: 40px;
  font-family: 'oxygen', sans-serif;


}

h2 {
  color: #333;
  font-size: 30px;
  padding-bottom: 16px 40px;
    border-bottom: 4px solid #333;
  font-family: 'Nunito', sans-serif;
}
/*-------LISTSTYLING-----*/
li {
  color: #B5B8FF;
text-align: left;

}


/*-------STYLINGLINKS-----*/

a
{
color: #B5B8FF;
text-decoration: none;
text-align: center;
}

a:hover{
  color: #B5B8FF;
  border-bottom: 1px dotted;
}
/*--------NAVIGATION------*/
nav {
   position: fixed;
   top: 0;
   left:0;
   margin:0;
   width: 100%;
   background-color: #e06e73;
   padding: 1em ;
   font-size: 0.75em;
   }



nav ul{
text-align: center;
text-transform: uppercase;
letter-spacing: 2px;}

nav ul li{
  display: inline;
  margin: 60px;}

nav a:link {
  color: #612F32;}

nav a:visited{
  color: #614D4E;

}

nav a:hover {
border-bottom: none;
color: #AD5559;}

li {
  font-size: 0.707em;

}

th {
  color: #fafafa;
  text-transform: uppercase;
  font-weight: normal;
  text-align: left;
  background: #B5B8FF
}

th, td {
  padding .6em
}

table {
  background: #fafafa;
  border: 1px solid #fafafa;
}

td {
  color: #fafafa;
}

/*---------FOOTER-------*/

footer {text-align:center;
font-size:0.707em;
padding:2em 4em 0em;

}
